backcall==0.2.0
beautifulsoup4==4.9.3
cffi==1.14.5
colorama==0.4.4
decorator==4.4.2
html5lib==1.1
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
jedi==0.18.0
jupyter-client==6.1.12
jupyter-core==4.7.1
lineedit==0.1.6
parso==0.8.1
pickleshare==0.7.5
prompt-toolkit==3.0.17
pycparser==2.20
Pygments==2.8.0
python-dateutil==2.8.1
pywin32==300
pyzmq==22.0.3
radian==0.5.10
rchitect==0.3.30
six==1.15.0
soupsieve==2.2
tornado==6.1
traitlets==5.0.5
wcwidth==0.2.5
webencodings==0.5.1
